.project-info {
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-title {
    color: #FEFFFF;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Texturina', serif;
}

.highlight {
    color: #ffbd59;
    font-size: 25px;
    font-family: 'Big Shoulders Inline Text';
}

.project-info p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}

.button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.link-button {
    background-color: #2B7A78;
    border: none;
    color: white;
    width: 35%;
    padding: 10px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.link-button:hover {
    background-color: #88BDBC;
    color: black;
}

.project-image {
    width: 90%;
}
