#nextButtonSection {
    margin-bottom: 0px;
    display: none;
}

/* Only show Next Button on Mobile Devices */
@media screen and (max-width: 480px) {
    #nextButtonSection {
        margin-bottom: 25px;
        display: block;
    }
}
