/* .contact-modal {
    background-color: grey;
}

#contact-modal {
    width: 70vw;
    max-width: 100vw;
}

.modal-header {
    background-color: #0f181b;
}

.modal-title {
    color: #ffbd59;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: #0f181b
}

#close-button {
    color: #FEFFFF;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: #0f181b;
    border: none
}

.modal-body {
    background-color: #254E58;
} */

/* #contact-section {
    text-align: center;
    color: #FEFFFF;
} */

#contact-section h4 {
    margin: 30px;
    text-align: center;
    font-family: 'Big Shoulders Inline Text';
    color: #a3f5f2;
}

/* #contact-section button {
    background-color: #2B7A78;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #FEFFFF;
    border-radius: 50px;
    margin: 30px;
    padding: 10px;
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
} */

/* @media screen and (max-width: 768px) {
    #contact-modal {
        width: 95vw;
        max-width: 100vw;
    }
    #contact-section button {
        width: 50%;
    }
} */