/* Style for Index Image */

#about {
    padding: 0px;
    text-align: center;
    background-color: #17252A;
    color: #FEFFFF;
}

/* .row {
    height: 100%;
} */

#portrait-container, #about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 20px;
    color: #FFFFFF;
}

#motionDivOne {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    height: 95%;
    background: #335764;    
}

#motionDivTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    height: 95%;
    background: #7a9199;
}

/* Sets portrait paddings */
#portrait-image {
    width: 95%;
    height: 95%;
    object-fit: cover;
}

#about-me h1 {
    text-align: center;
    font-family: 'Texturina', serif;
    color: #ffbd59;
}

#about-me p {
    font-size: 15px;
    font-family: 'Indie Flower';
}

#about-me address {
    font-size: 15px;
    font-family: 'Roboto';
}

#social, #skill-icons {
    padding: 15px;
    text-align: center;
    color: #FFFFFF;    
}

#social i, #skill-icons i {
    margin-top: 5px;
    padding: 15px;
    border-radius: 5px;
    font-size: 35px;
    color: #FFFFFF;
}

#social .col-3 i:hover {
    background-color: #343434;
}

#resume-link-div{
    padding: 10px;
}

#resume-link-div i {
    margin-top: 0px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    color: #FFFFFF;
}

#skills h2 {
    font-family: 'Texturina', serif;
    text-align: center;
    color: #ffbd59;
    padding-top: 15px;
}

#skill-icons p {
    font-size: 12px;
    font-family: 'Roboto';
}



