/* Sets style for the Nav Bar */

header nav {
    background-color: #0f181b;
    font-family: 'Big Shoulders Inline Text', cursive;
}

#logo {
    width: 50px;
}

#name {
    background-color: #0f181b;
    color: #ffbd59;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* Sets portrait size and paddings for Screen below 500 pixels  */
@media screen and (max-width: 500px) {
    #name {
        display: none;
    }
}

/* Only stick if you can fit */
@media (min-height: 400px) {
    header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}