/* Style for Portfolio images */

#portfolio {
    padding: 0px;
    padding-top: 50px;
    text-align: center;
    background-color: #17252A;
    color: #FEFFFF;
}

#portfolio-header {
    font-family: 'Big Shoulders Inline Text';
    color: #a3f5f2;
}

