/* Style for Portfolio images */

#portfolio {
    padding: 0px;
    text-align: center;
    background-color: #17252A;
    color: #FEFFFF;
}

#portfolio h1 {
    text-align: center;
    font-family: 'Texturina', serif;
    color: #ffbd59;
}

