/* Style for Portfolio images */

#portfolio {
    padding: 0px;
    padding-top: 50px;
    text-align: center;
    background-color: #17252A;
    font-family: 'Big Shoulders Inline Text', cursive;
    color: #FEFFFF;
}

#portfolio-header {
    /* margin-top: 100px; */
}

hr {
    background-color: white;
}

/* .project-section {
    background-color: #17252A;
} */
