/* Sets style for footer and makes it stick to bottom */

footer {
    background-color: #17252A;
    text-align: center;
    color: #FEFFFF;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

#contact-social-icons {
    display: flex;
    justify-content: center;
}

#contact-social-icons i {
    margin: 5px;
    color: #FEFFFF;
    font-size: 30px;
}

/* Sets portrait size and paddings for Screen below 540 pixels  */

@media screen and (max-width: 540px) {
    footer {
        position: static;
    }
}